@model MVC.Models.LoginModel

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label>Username</label>
        <input asp-for="Username" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select asp-for="Role" class="form-control">
            <option value="Admin">Admin</option>
            <option value="HR">HR</option>
            <option value="Instructor">Instructor</option>
            <option value="Student">Student</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>
