@using MVC1.Models
@model MVC1.ViewModel.EmpDeptColorTempMsgBranchViewModel

@{
    ViewData["Title"] = "DetailsVM";
}

<h1 style=" color: @Model.Color">DetailsVM</h1>
@Model.EmpName
@Model.DeptName
<select>
@foreach (var item in Model.Branches)
    {
        <option>@item</option>
    }

</select>
